<div>
  <div>
    <img
    [src]="user.profilePictureUrl"
    alt="{{ user.name }}"
    style="max-height: 300px;">
  </div>
  <div><h2>{{ user.name }}</h2></div>
  <div>
    <div>
      <span>Interests:</span>
      <div *ngFor="let interestedIn of user.interests">{{ interestedIn }}</div>
    </div>
  </div>
  <div *ngIf="user.preferedSessionType === 'REMOTE' || user.preferedSessionType === 'BOTH' ">
    <div>
      <span>Meeting Tools:</span>
      <div *ngFor="let tool of user.videoConferenceTools">{{ tool }}</div>
    </div>
  </div>
  <div *ngIf="user.preferedSessionType === 'LOCAL' || user.preferedSessionType === 'BOTH' ">
    <div>
      <span>Area:</span>
      <div>{{ user.area }}</div>
    </div>
  </div>
</div>
